<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Forum App</title>
    
    <link rel="stylesheet" href="/ForumApp/Content/css/app.css" />
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/site.css">

    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/menu.css">

    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/sidebar.css">
    <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/transition.css">
</head>
<body>
    <div class="ui secondary fixed menu">
        <div class="ui container app-menu">
            <div class="header item">
                Forum App
            </div>
            <a class="item">Topics</a>
            <a class="item">New Topic</a>
            <div class="right menu">
                <a class="item">Sign Up</a>
                <a class="item">Log Out</a>
            </div>
        </div>
    </div>

    <div class="app-head">
        <div class="ui container">
            <h1 class="ui inverted header">
                Imagine-a-Company
            </h1>
            <h2>Do whatever you want when you want to.</h2>
            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>
    </div>

    <div class="ui container app-content">
        @Section['Content']
    </div>
</body>
</html>
