.app-head {
    padding: 70px;
    margin-top: 55px;
    background-color: #3A435D;
    width: 100%;
    color: #fff;
}

.app-content {
    padding-top: 70px;
}

.app-menu {
    height: 55px;
}

    .app-menu .header  {
        margin-left: 0;
        padding-left: 0;
    }
