@Master['Master']

@Section['Content']
<div class="app-container">
    <h3 class="ui center aligned header app-container-header">
        Search Results
    </h3>

    <div class="ui hidden divider"></div>

    @Each
    <div class="item">
        <div class="middle aligned content">
            <h3><a href="/@ViewBag.CategorySlug/@Current.Slug">@Current.Title</a></h3>
        </div>
    </div>
    @EndEach
</div>
@EndSection

@Section['Scripts']
<script>
    $(document).ready(function () {
        $('#search').on('keyup', function (e) {
            if (e.keyCode !== 13) {
                return;
            }

            var query = $(this).val().trim();

            if (!query) {
                return;
            }

            window.location = window.location.href + "?s=" + query.replace(/ /g, '+');
        });
    });
</script>
@EndSection