@Master['Master']

@Section['Content']

<h3>New</h3>

<form action="/@ViewBag.CategorySlug/Save" method="post" class="ui form">
    <div class="field">
        <input type="text" name="title">
    </div>

    <div class="field">
        <textarea id="newTopic" name="content"></textarea>
    </div>

    <button class="ui submit button">Submit</button>
    <a class="ui submit button" href="/@ViewBag.CategorySlug">Cancel</a>
</form>


<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("newTopic"),
        status: false,
    });
</script>

@EndSection

